 body 
 {
     width: 100%;
     margin: 0;
     font-size: 16px;
 }

 body *
 {
     box-sizing: border-box;
 }

 header
 {
     display: flex;
     background-color: #fff;
     width: 100%;
     height: 70px;
     position: sticky;
     z-index: 5;
     top: 0;

     padding: 0px 0;
     margin-top: 0px;
     padding-right: 0px;
     margin-bottom: 10px;
     padding-left: 0px;

     transition: all 0.2s ease-in-out;
     transition-property: all;
     transition-duration: 0.2s;
     transition-timing-function: ease-in-out;
     transition-delay: 0s;
    

}

header nav 
{
    height: 100%;
    margin-right: 8%;
    transition: all 0.2s ease-in-out;
    margin-top: 15px;
}

header nav ul 
{
    display: flex;
    align-items: center;
    margin: 0;
    height: 100%;
    list-style-type: none;

}

header .logo 
{
    margin-left: 8%;
    margin-right: auto;
    transition: all 0.2s ease-in-out;
    margin-top: 20px;
}

.logo2
{
    padding-left: 15px;
}

header nav ul li a 
{
    color: #212832;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    text-decoration: none;
}

header nav ul li:not(:last-child) 
{
    margin-right: 30px;
}

header .burger 
{
    display: none;
}
#section-1
{
    background: url("../../images/illustration_principale.jpg") no-repeat;
    background-size: cover;
    text-align: left;
    height: 780px;
    padding-top: 6em;
    padding-left: 8%;

}

#section-1 .souligne-texte-rose 
{
    margin: 40px 0 20px;
    background-position: 10px 95%;
    transition: background-position 0.2s ease-in-out;
}
.texte-couleur-saumon
{
    color: salmon;
}

.souligne-texte-rose
{
    color: white;
    background: url("../../images/souligne_rose.svg") no-repeat;
    
}

#section-2
{
    text-align: auto;
    
}

.texte-couleur-gris-1
{
    color: grey;
}

.bouton-jaune
{
    background-color: rgba(255, 208, 0, 0.877);
    color: white;
    font-size: 1.5em ;
    border-radius: 10px;
}
h3
{
    font-size: 20px ;
}

h1
{
    font-size: 90px;
}

h5
{
    font-size: 20px;
}

.texte1 .texte2
{
    text-align: center;
}

.conteneur-carte.conteneur-carte-ligne
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

#section-2
{
    display: block;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    background: url(../../images/decor_1.svg) no-repeat #ffffff;
    background-position: 98% 2%;
}

.bouton.jaune
{
    margin-top: 50px;
    margin-bottom: 50px;
}

.carte img
{
    max-width: 100%;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    box-shadow: 0px 0px 10px  whitesmoke ;
}

.conteneur-carte.conteneur-carte-ligne .carte figcaption
{
text-align: center;
line-height: 28px;
font-size: 18px;
padding: 20px;
box-shadow: 0px 0px 10px  whitesmoke ;
border-bottom-right-radius: 24px;
border-bottom-left-radius: 24px;
border-style: none;
}

.conteneur-carte.conteneur-carte-ligne .carte img
{
    box-shadow: 0px 0px 10px  whitesmoke ;
}

.conteneur-elements .conteneur-carte.conteneur-carte-ligne2 
{
    justify-content: center;
    display: flex;
    text-align: center;
}

#section-3 .conteneur-video
{
    border-radius: 15px ;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    position: relative;
}

#section-3 .videos-lecture-bouton 
{
    position: absolute;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 256px;
    margin-top: -192px;
}

#section-3 
{
    background: url(../../images/illustration_chef.jpg) no-repeat;
    background-size: 100% auto;
    
}

.description
{
    color: white;
}

.mobile-illustration
{
    display: none;
}

.conteneur-illustrations.conteneur-carte-ligne
{
    float: left;
    display: flex;
    margin-top: -10% ;
    margin-left: -2.5%;
   
}

#section-4
{
    background: url(../../images/illustration_commander.jpg) no-repeat;
    background-size: cover;
    margin-top: -35px;
}

.illustration-2
{
    margin-left: -50px;
}

.article-bis
{
    max-width: 390px ;
    display: block;

}

.rapide
{
   padding-left: 85px;
    
}
.titre3 
{
    padding-top: 200px;
    margin-left: -40px;
   
}

.h2-bis
{
 margin-left: -40px;
    text-align: left;
}

.conteneur-carte.conteneur-carte-ligne2
{
    display: flex;
    justify-content: center;
}
.conteneur-arguments
{
    margin-bottom: 50px;
    box-sizing: border-box;
}

.bouton-jaune2
{
    background-color: rgb(216, 165, 25) ;
    margin-left: 40px;
    cursor: pointer;
}

span
{
    color: salmon;
}

.conteneur-arguments .argument img 
{
    width: 60px;
    height: 60px;
}

.conteneur-arguments .argument figcaption
{
    margin: 0 0 0 0px;
    padding: 0 60px 0 0;
}

.conteneur-arguments .argument figcaption
{
    white-space: nowrap;
    display: inline-block;
}

.conteneur-arguments .argument
{
    display: flex;
}

#section-5
{
    text-align: center;
}

.conteneur-form
{
    text-align: center;
    display: table;
    box-shadow: 0px 4px 61px 0px rgb(0 0 0 / 10%);
    border-radius: 30px;
    max-width: 1020px;
    margin: auto;
}

.form-gauche
{
    padding: 26px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

#section-5 .form-droite
{
background: url(../../images/illustration_formulaire.jpg) no-repeat;
background-size: cover;
}

#section-5
{
    margin-top: 100px;
    margin-bottom: 200px;
}

.form-droite, .form-gauche 
{
    display: table-cell;
    width: 50%;
    height: 100%;
    vertical-align: top;
    text-align: left;
}

.form-droite 
{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.form-droite, .form-gauche 
{
    display: table-cell;
    width: 50%;
    height: 100%;
    vertical-align: top;
    text-align: left;
}

h4
{
    padding-top: 100px;

}

.texte-couleur-noir
{
   text-align: left;
   margin-left: 20px;
    margin-top: -50px;
}

.texte-couleur-gris-2
{
    text-align: left;
  margin-left: 20px ;
    color: grey;
}

.Formulaire-deux-champs-inline
{
    display: flex;
}

.bouton.bleu 
{
background-color: #007aff;
}

.formulaire-contact-champ
{
    margin: 20px;
}

.form-gauche form 
{
    text-align: left;
}

.formulaire-contact-champ input 
{
    margin: 0;
    padding: 0 0 5px; 
    color: #989898; 
    width: 100%; 
    border: none; 
    border-bottom: 1px solid #e2e4e5; 
    outline: 0;
    font-size: 13px;
    transition: transform 0.2s; 
    
}

.conteneur-form .form-gauche .form 
 {
    text-align: center;
 }



 .conteneur-form .form-gauche .form .formulaire-contact-champ
 {
    text-align: left;
 }

 .formulaire-contact-champ h4
 {
    margin-left: -40px;
 }

 

 footer .footer-part
 {
     display: inline-block;
     vertical-align: top;
     margin-bottom: 50px;
     margin-left: auto;
     margin-right: auto;
     padding: 0 20px 0 20px;
 }

 #footer-logo .logo
 {
     display: block;
     height: auto;
 }

 .logo
 {
     height: 100%;
     display: inline-block;
     vertical-align: middle ;
     white-space: nowrap;
 }

 #footer-logo .logo img
 {
     height: 50px;
 }

 .texte-couleur-gris-bleu
 {
    color: #5e6282; 
 }


 #footer-plan div
 {
     display: inline-block;
     vertical-align: top;
     margin-right: 50px;
 }

 #footer-uberEats .logo-ubereat
 {
     height: 30px;
 }

 #footer-uberEats p
 {
     margin: 10px 0 30 px;
 }

 footer p
 {
     font-size: 18px;
     line-height: 147.5%;
 }

 #footer-uberEats .app-download-button 
 {
     background-color: #000;
     border: none;
     padding: 10px 15px ;
     border-radius: 20px;
     font-size: 10px;
 }


 .bouton 
 {
     font: 18px Arial, helvetica, sans-serif;
     cursor: pointer;
     transition: transform 0.2s;
 }

.copyright
{
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

.gp, .as, .evy
{
    color: #fff;
}

footer
{
    background-color: #f3f3f3;
    padding: 70px 8% 20px;
}